body {
	padding-top: 30px;
	background-color: #483852;
	background-image: url(../img/bg.jpg);
	background-position: top center;
	-webkit-background-size: 100%;
	background-size: 100%;
}

h1 {
	margin-bottom: 50px;
	font-size: 30px;
	text-align: center;
}

h1 img {
	max-width: 220px;
}

.fa {
	color: ##5d4d67;
}

#favs {
	display: none;
}

.btn-favs {
	position: absolute;
    top: 0;
    right: 15px;
    border-radius: 0 5px 5px 0;
}

.btn-favs .fa {
	margin-right: 3px;
}

.search {
	margin-bottom: 30px;
}

.search select {
	height: 34px;
	max-width: 100%;
}

.store {
	margin-bottom: 30px;
	padding-bottom: 15px;
	background-color: #fbfbfb;
	border: 1px solid transparent;
	border-radius: 5px;
	overflow: hidden;
}

.store .header {
	position: relative;
}

.store .header .btn {
	position: absolute;
	top: 10px;
	right: 10px;
}

.store .details {
	padding-right: 15px;
	padding-left: 15px;
	font-size: 12px;
}

.store .details h3 {
	font-size: 18px;
}