<!DOCTYPE html>
<html lang="en" ng-app="stores">
<head >
	<title>MuchMore Stores</title>
	<link rel="icon" href="img/favicon.png"/>
	<link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head >

<body >

	<div class="container" ng-controller="StoresCtrl">

		<h1><img src="img/logo.png" alt="MuchMore Stores"></h1>

		<div class="row search">
			<div class="col-sm-8">
				<input type="text" class="form-control" id="title" ng-model="search.title" placeholder="Buscar...">
				<button class="btn btn-default btn-favs" ng-click="toggleFavs()" ng-class="{true:'active'}[search.anchor_store]">
					<i class="fa fa-heart" aria-hidden="true"></i> Favoritos
				</button>
			</div>
			<div class="col-sm-4">
				<select ng-model="search.category.id">
					<option value="">Tudo</option>
					<option ng-repeat="category in categories | unique: 'name' | orderBy:'name'" value="{{category.id}}">{{category.name}}</option>
				</select>
			</div>
		</div>

		<div class="row itens">
			<div class="col-sm-4" ng-repeat="store in stores | filter:search">
				<div class="store">
					<div class="header">
						<img src="img/preview.png" class="img-responsive" alt="{{store.title}}">
						<a class="btn btn-default" href="javascript:;" ng-class="{true:'active'}[store.anchor_store]" ng-click="favStore(store)">
							<i class="fa" aria-hidden="true" ng-class="{true:'fa-heart',false:'fa-heart-o'}[store.anchor_store]"></i>
						</a>
					</div>
					<div class="details">
						<h3>{{store.title}}</h3>
						<div class="phone"><strong>E-mail:</strong> {{store.email}}</div>
						<div class="phone"><strong>Tel:</strong> {{store.phone}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="libs/jquery/jquery.min.js"></script>
	<script src="libs/angular/angular.min.js"></script>
	<script src="libs/angular/angular-filter.min.js"></script>
	<script src="libs/angular/angular-resource.min.js"></script>
	<script src="js/stores-controller.js"></script>
</body >
</html >
